@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
/* 공통영역 */
.inner {
  position: relative;
  width: 1180px;
  margin: auto;
  background-color: rgb(255, 156, 26);
}
/* 전체 레이아웃 */
/* 상단 */
header {
  width: 100%;
  background-color: antiquewhite;
}
header > .inner {
  height: 120px;
  background-color: rgb(255, 255, 255);
}
/* 상단위 */
.h_top {
  height: 60px;
  /* background-color: bisque; */
}
.util {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  margin-right: 30px;
  gap: 20px;
}
.util > li > a {
  font: 13px/1 "arial";
}
/* 상단아래 */
.h_bt {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gnd {
  display: flex;
  text-align: center;
  width: 800px;
  /* background-color: aquamarine; */
}
.gnd > li {
  width: calc(100% / 5);
}
.gnd > li > a {
  width: 100%;
  line-height: 60px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.gnd > li > a:hover {
  background-color: #555;
  color: #fff;
}
/* 비주얼 */
figure {
  position: relative;
  width: 100%;
  height: calc(100vh - 120px);
  background-color: #333;
  padding-top: 250px;
}
figure > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0.3;
}
figure > .inner {
  background: none;
}
figure > .inner > h2 {
  color: #fff;
  font: 120px/1 "arial";
  margin-bottom: 20px;
}
figure > .inner > p {
  font: 16px/1.4 "arial";
  color: #999;
  margin-bottom: 60px;
}
figure > .inner > a {
  width: 400px;
  display: block;
  border: 1px solid #bbb;
  font: bold 12px/30px "arial";
  color: #fff;
  text-align: center;
}
figure > .inner > a:hover {
  background-color: #bbb;
  color: #333;
}
/* 뉴스 */
/* 하단 */
